.root {
  display: flex;
  align-items: center;
}

.container {
  fill: transparent;
  transition: 0.3s ease stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
